$color-background: #1212b5; // Azul base
$color-gradient-mid: #5194B8; // Celeste/azul medio
$color-accent: #aee3ff; 
$color-hover: #3b82f6;

$font-primary: 'Space Grotesk', sans-serif;
$font-secondary: 'Inter', sans-serif;